.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}
.box1{
width: 120px;
height:70px ;
font-size: 14px;
border: 1px solid rgb(114, 112, 112);
border-radius: 5px;
 margin-right: 20px; 
}
.box2{
width: 120px;
height:70px ;
font-size: 14px;
border: 1px solid rgb(114, 112, 112);
border-radius: 5px;

}
.button{
    background-color: rgba(56, 241, 201, 0.829);
    padding: 3px 10px;
    font-size: 14px;
    border-radius: 5px;
    border:1px solid rgb(14, 71, 71);
    color: rgb(14, 71, 71);

}
