 .container{
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}
.Input{

    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding:10px 12px;
    outline: none;
}
.transaction{
    background-color: rgb(219, 219, 219);
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    /* width: 300px;   */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row; 
    border-right: 4px solid green;
}
.transaction span{
    font-size: 14px;
    font-weight: bold;
  
 
}
