.container{
    display: flex; 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    flex-direction: column;
    margin-bottom: 10px;
}
.Input{
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 10px 12px;
    /* width: 300px; */
}
.button{
    background-color: rgb(14, 71, 71);
    padding: 7px 10px;
    font-size: 14px;
    border-radius: 5px;
    border:1px solid rgb(14, 71, 71);
    color: rgba(56, 241, 201, 0.829);
    margin: 10px;

}
.radio{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}
.label{
    margin-right: 50px;
    
}
